<html>
<h1>Hello, <%= bikename %> <%= bikeaddress %> <%= bikeprice %> <%= bikedescription %></h1>
</html>

<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Book your bike</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='css/bookPage.css'>
    <script src="https://cdn.socket.io/4.5.3/socket.io.min.js" integrity="sha384-WPFUvHkB1aHA5TDSZi6xtDgkF0wXJcIIxXhC6h8OT8EH3fC5PWro5pWJ1THjcfEi" crossorigin="anonymous"></script>
</head>
<body>
    <h1>Book Page!</h1>
    <h2></h2>
    <div>
        <img src='<%= bikeimg %>' />
    </div>
</body>
</html>